@font-face {
    font-family: 'Montserrat-Black';
    src: url('fonts/Normal/Montserrat-Black.otf'); 
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Normal/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('fonts/Normal/Montserrat-ExtraBold.otf'); 
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('fonts\Normal\Montserrat-ExtraLight.otf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts\Normal\Montserrat-Light.otf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts\Normal\Montserrat-Medium.otf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts\Normal\Montserrat-Regular.otf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts\Normal\Montserrat-SemiBold.otf');
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('fonts\Normal\Montserrat-Thin.otf');
}
