*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', 'Montserrat-Regular';
}

hr {
    width: 50%;
    margin: auto;
    border: none;
    border-top: 10px dotted #7777ff;
    margin: 64px auto;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: blue;
}

a.underline-link {
    text-decoration: underline;
}

img {
    width: 128px;
    height: 128px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 16px;
}

.heading {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.para-style-1 {
    margin-top: 16px;
    font-size: 1rem;
    font-weight: bolder;
    color: #777777;
}

.para-style-2 {
    font-size: 1.5rem;
    color: #333333;
    text-align: justify;
}

.para-style-3 {
    margin: 16px 0;
}

#education {
    background: #ffff77;
}

#experience {
    background: #77ff77;
}

#achievements {
    background: #77ffff;
}

#projects {
    background: #7777ff;
}

#skills {
    background: #ff7777;
}

#skills .para-style-2 {
    font-size: 2rem;
    font-weight: bolder;
}

#skills .para-style-1, #skills .para-style-2 {
    text-align: center;
}

.container-full-screen {
    width: 100%;
    min-height: 100vh;
    background: #282a36;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.container-full-screen .container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container-full-screen .container-info #my-image {
    width: 256px;
    height: 256px;
    border-radius: 100%;
}

.container-full-screen .container-info .main-info {
    /* -webkit-animation: huerotate 4s linear infinite;
    animation: huerotate 4s linear infinite; */
    background: -webkit-gradient(linear, left top, right top, from(cyan), to(orange));
    background: -o-linear-gradient(left, cyan, orange);
    background: linear-gradient(to right, cyan, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.container-full-screen .container-info .main-info h1 {
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-full-screen .container-info .main-info h3 {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.container-full-screen .links-info {
    width: 100%;
}

.container-full-screen .links-info .icon {
    width: 64px;
    height: 64px;
    margin: 32px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: -50%;
    font-size: 0.75rem;
    letter-spacing: 2px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.container-full-width {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.container-full-width.flex-reverse {
    flex-direction: row-reverse;
}

.container-full-width .container-left {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.container-full-width .container-right {
    flex: 1 1 50%;
}

.container-full-width .slider {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 50px;
}

.container-full-width .slider .slider-item {
    flex: 1 1 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    display: none;
    overflow: hidden;
}

.container-full-width .slider .slider-item .logo {
    width: 256px;
    height: 256px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.25;
}

.container-full-width .slider .slider-item .information {
    position: relative;
    z-index: 1;
}

.container-full-width .slider .current-item {
    display: unset;
}

.container-full-width .slider .card {
    padding: 32px 48px;
    border-radius: 32px;
    box-shadow: 4px 8px 16px 2px #00000077;
    background-color: white;
    overflow: hidden;
}

#skills .card {
    padding: 100px;
}

.container-full-width .slider .slider-button {
    position: absolute;
    top: 50%;
    background: white;
    box-shadow: 0 4px 4px 2px #00000077;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    transform: translate(0%, -50%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.container-full-width .slider .slider-button:hover {
    box-shadow: 0 2px 4px 2px #00000077;
}

.container-full-width .slider .button-left {
    left: 25px;
}

.container-full-width .slider .button-right {
    right: 25px;
}

#skills li {
    transition: 200ms;
}

#skills li:hover {
    color: red;
}

@media (max-width: 1100px) {
    .heading {
        font-size: 3rem;
    }
    .container-full-width {
        min-height: 50vh;
    }
    .container-full-width .slider {
        min-height: 50vh;
    }
    .container-full-screen .links-info .icon {
        width: 48px;
        height: 48px;
        margin: 16px;
    }
}

@media (max-width: 800px) {
    .container-full-width {
        flex-direction: column;
    }
    .container-full-width.flex-reverse {
        flex-direction: column;
    }
    .container-full-width .container-left {
        padding-top: 48px;
        padding-bottom: 0px;
    }
    .container-full-width .slider .card {
        padding: 64px;
    }
}

@media (max-width: 500px) {
    .container-full-width {
        min-height: 100vh;
    }
    .container-full-width .slider {
        min-height: 100vh;
    }
    .heading {
        font-size: 2rem;
    }
    .para-style-1 {
        font-size: 0.75rem;
    }
    .para-style-2 {
        font-size: 1rem;
    }
    #skills .para-style-2 {
        font-size: 1.5rem;
    }
    .container-full-screen .container-info .main-info h1 {
        font-size: 3.5rem;
        margin-bottom: 8px;
    }
    .container-full-screen .container-info .main-info h3 {
        font-size: 1rem;
    }
    .tooltip .tooltiptext {
        font-size: 0.5rem;
        letter-spacing: 1px;
        left: -70%;
        top: 90%;
    }
    .container-full-width {
        flex-direction: column;
    }
    .container-full-width.flex-reverse {
        flex-direction: column;
    }
    .container-full-width .container-left {
        padding-top: 48px;
        padding-bottom: 0px;
    }
    .container-full-width .slider {
        padding: 32px;
    }
    .container-full-width .slider .card {
        padding: 32px;
    }
    #skills .card {
        padding: 50px;
    }
    .container-full-width .slider .button-left {
        left: 8px;
    }
    .container-full-width .slider .button-right {
        right: 8px;
    }
}
